# All ignored files and directories are stored here

# binary folder
/bin/

# .class files
*.class

# Visual Studio Code files
.vscode

# Eclipse files
.settings
.project
.classpath
.metadata

# Intelij files
.idea
*.iml

# build files
*.jar
build/
/target/
/META-INF/
*.MF
/docs/


# test files
*.png
*.jpg
*.jpeg
assets
*.recent
cache
*.tmp

# documents
*.docx